$gradient-black: #171513;
$menu-links: rgb(175, 165, 163);
$white: #fff;
$button-color: #ee3b00;
$button-hover: hsl(0, 100%, 32%);
$story-color: #484340;
$testimonial_bkg: #f8f7f7;
$testimonial-color: rgb(255, 255, 255);
$testimonial-description: rgba(0, 0, 0, 0.5);
$footer-background: #211d1c;
$footer-color: #afa5a3;
$form-text: #000;
$position-placeholder: #8b7e7a;
$hidden-search-background: #461812;
$header-navbar-color: rgb(71, 24, 18);
$hamburger-color: #999;
$prev-next: #c73a27;
$service-border: #47433f;
$service-hover-shadow: rgba(117, 117, 117, 0.4);
$hidden-search: #362d2b;
$header-nav: #333;
