<section class="across_globe">
  <div class="across_globe_story">
    <h2 class="across_globe_heading">Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximus laoreet.</h2>
    <p class="across_globe_decription">
        In maximus euismod egestas. Fusce tincidunt posuere est non elementum. Vivamus tincidunt eleifend nisl et gravida. Aenean in lorem ultrices, pellentesque augue eu, mattis est. Praesent sed volutpat nibh. Morbi faucibus tortor sed neque vulputate hendrerit. Sed aliquam mattis purus eleifend consectetur. Nulla mollis non enim non tempus.
    </p>
  </div>
  
  <div class="across_globe_image">
    <img src="images/across_globe.jpg" alt="Across the Globe">
  </div>
</section>