<section class="main_banner">
  <div class="banner_innerwrap">
    <div class="banner_heading">
      <h1 class="main_heading">Integer bibendum sit amet arcu vel egestas.</h1>
    </div>

    <div class="banner_services">
      <div class="services_innerwrap">
        <img src="images/staff_service.png" alt="Staffing Service">
        <span class="service_name">Service Name</span>
      </div>

      <div class="services_innerwrap">
        <img src="images/support_service.png" alt="Support Service">
        <span class="service_name">Service Name</span>
      </div>
      
      <div class="services_innerwrap">
        <img src="images/folder.png" alt="Folder">
        <span class="service_name">Service Name</span>
      </div>
    </div>
  </div>
</section>