<footer class="page-footer">
  <div class="copyright-info">
    <p>&copy; 2017 Company. All Rights Reserved.</p>
  </div>
  <div class="footer-menu">
    <p>Follow us on:&nbsp;</p>

    <div class="menu-links">
      <a href="#" target="_blank" class="link-items">
        <span class="icon-facebook span-icon"></span>
      </a>

      <a href="#" target="_blank" class="link-items">
        <span class="icon-linkedin span-icon"></span>
      </a>

      <a href="#" target="_blank" class="link-items">
        <span class="icon-twitter span-icon"></span>
      </a>
      
      <a href="#" target="_blank" class="link-items">
        <span class="icon-mail span-icon"></span>
      </a>
    </div>
  </div>
</footer>