<header class="header">  
  <div class="brand_image">
    <a href="#">
      <img src="images/brand_name.png" alt="Company Logo">
    </a>
  </div>

  <div class="header_navigation">
    <div class="hamburger-menu">
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>       
    </div> 
    <nav class="header_navbar">
      <ul class="menu">
        <li><a href="#" class="menu_links">About</a></li>
        <li><a href="#" class="menu_links">Services</a></li>
        <li><a href="#" class="menu_links">Solutions</a></li>
        <li><a href="#" class="menu_links">Blog</a></li>
      </ul>
    </nav> 
  </div>

  <button class="get_in_touch">
    <img src="images/get_in_touch_icon.png" alt="Get in Touch" class="button_icon">
    <p class="get_in_touch_text">Get in Touch</p>
  </button>

  <a href="#" class="touch_icon_mobile">
    <img src="images/get_in_touch_icon.png" alt="Get in Touch">
  </a>
</header>
