<section class="work-with-us">
  <div class="contact us">
    <h2 class="contact-heading">Convinced To Work With Us?</h2>
    <p class="contact-description">Company has helped agencies keep their promises to clients since 2005.</p>
  </div>

  <div class="contact-form">
    <form action="#" method="">
      <input type="text" placeholder="Fullname" class="name">
      <input type="email" placeholder="Email Address" class="email">
      <input type="tel" placeholder="Phone Number" class="phone">
      <div>
        <textarea placeholder="Message in brief" class="message"></textarea>
      </div>    
      <div>             
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
</section>
