.footer-menu {
  justify-content: center;
  display: flex;
  align-items: center;
}

.link-items {
  text-decoration: none;
}

.span-icon {
  font-size: 19px;
  color: $footer-color;
  padding: $footer-link;
  transition: all 0.5s;

  &:hover {
    color: $button-color;
  }
}
